{{#> 
	layouts/main 
	title="SmartAdmin WebApp" 
	pagename="blank" 
	category_1="category_1"
	category_2="category_2"
	heading="<i class='subheader-icon fal fa-'></i> Page <span class='fw-300'>Title</span> <sup class='badge badge-primary fw-500'>ADDON</sup>" 
	pagedescription="blank description"
}}

{{#*inline "content-block"}}{{/inline}}

{{#*inline "scripts-block"}}{{/inline}}

{{/layouts/main}}